.note {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  strong {
    margin-right: 1rem;
  }

  input[type='checkbox'] {
    margin-right: 1rem;
  }

  &-done {
    text-decoration: line-through;
    opacity: .5;
  }
}

.note-enter-active {
  animation: note .8s ease-in alternate-reverse;
}

.note-exit-active {
  animation: note .8s ease-out forwards;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }

  30% {
    opacity: .7;
    transform: translateX(30px);
  }

  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}